
.page{
    width: 600px;
    margin: 0 auto;
}
.head-photo{
    width: 120px;
    margin: 0 auto;
}
.head img{
    width: 100%;
    height: auto;
    border-radius: 99999px

}
h1{
    font-size: 29px;
    color: #f70000;
    text-align: center;
    font-family: 'Rampart One', sans-serif;
}

.btn {
    display: block;
    color: #f10d0d;
    border: 2px solid;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition-property: all;
    transition-duration: 2000ms;
}
.btn:hover{
    color: blueviolet;
}